/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Kavoon', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif; 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

a{
    list-style: none;
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    background: url("../Images/LandingPageBG.jpg");
    background-size: 95vw 125vh;
    /*background-repeat: no-repeat;*/
    /*background: rgb(2,0,36);
    background: linear-gradient(240deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%); */
    display: inline-flex;
    justify-content: space-between;
    z-index: 2;
    backdrop-filter: blur(100px);
}

#menu-bar{
    width: 2.5%;
    height: 100%;
    background: black;
    transition: .5s;
    position: relative;
}

.expand{
    width: 15%;
    height: 100%;
    background: black;
    transition: .5s;
}

#toggle-box{
    width: 100%;
    height: 5%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    transition: .5s;
    cursor: pointer;
}

.menu{
    width: 45%;
    height: 45%;
    border: 1px solid black;
    border-radius: 3px;
    transition: .6s;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    pointer-events:none ;
    padding: 5px;
    background: white;
}

.menu a{
    display: block;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    transition: .4;
    transition-delay: .5s;
    color: #b6a465;

}

#backArrow{
    position: absolute;
    transform: rotateY(180deg);
    cursor: pointer;
    display: none;
    opacity: 0;
    width: 24%;
    height: 7%;
    z-index: 2;
    /* transition: 1s; */
    transition-delay: .8s;
}

.LP{
    width: 600px;
    height: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    perspective: 1500px;
    overflow: visible;
}

.LP img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(10px 10px 10px black);
    transform: rotateY(-35deg);
    overflow: visible;
    
}

.content{
    width: 97.5%;
    height: 100vh;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    color: #b6a465;
}

.content-message{
    width: 55%;
    height: 100vh;
    display: inline-block;
    float: left;
    padding: 50px 20px 50px 20px;
}

.content-message p{
    -webkit-text-stroke: 3px;
    letter-spacing: 1px;
}

.explore{
    width: 250px;
    height: 70px;
    top: 20%;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 50px;
    background: #161616;
    overflow: hidden;
    
    box-shadow: rgba(0, 0, 0, 0.10) 0px 19px 38px, rgba(0, 0, 0, .30) 0px 15px 12px;
}

span{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: ripple .5s linear infinite;
}

.text p{
    font-size: 40px;
    position: relative;
    top: 46%;
    transform: translateY(-50%);
    left: 10%;
    color: #b6a465;
}



.arrow img{
    width: 60%;
    position: relative;
    left: 0px;
    pointer-events: none;
}

@keyframes ripple{
    0%{
        width: 0px;
        height: 0px;
        opacity: .5;
    }

    100%{
        width: 500px;
        height: 500px;
        opacity: .5;
    }
}

/*  Account box start */

#account-box{
    width: 130px;
    height: 130px;
    position: absolute;
    bottom: 50px;
    left: 13%;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    transition-delay: 1s;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50%;
}

#account-box img{
    object-fit: cover;
    border-radius: 50%;
}
#account-box h2{
    display: flex;
    font-size: 100%;
    justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    text-align: center;
}
