<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">     
    
    <title>Contact Page</title>

</head>
<body>
    
    <section id="card">
        <section id="left-container">
            <div class="layer l1"></div>
            <div class="layer l2"></div>
            <div class="layer l3">
                <div id="qr-code">
                    <img src="../static/Images/Contact/portfolio.png" alt="Portfolio QR code">
                </div>
                <div id="name">
                    Tanmay Prashant Chavan
                </div>
            </div>
        </section>
        <section id="right-container">
            <div id="detail-section">
                <div id="blocks">
                    <div class="block">
                        <div class="icon-block">
                            <img src="../static/Images/Contact/email.png" alt="">
                        </div>
                        <div class="content-block">
                            <a href="mailto:tanmaychavan1306@gmail.com " target="_blank">
                                tanmaychavan1306@gmail.com 
                            </a>
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon-block">
                            <img src="../static/Images/Contact/location.png" alt="">
                        </div>
                        <div class="content-block">
                            Kashimira, Mira Bharandar, Mumbai, Maharashtra, India
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon-block">
                            <img src="../static/Images/Contact/phone.svg" alt="">
                        </div>
                        <div class="content-block">
                            +91 9372462820
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon-block">
                            <img src="../static/Images/Contact/github.svg" alt="">
                        </div>
                        <div class="content-block">
                            <a href="https://github.com/TanmayChavan-2403" target="_blank">
                                Github
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tag-section">
                <div id="tags">
                    <div class="tag">
                        <img src="../static/Images/Contact/linkedIn.png" alt="linkedIn">
                    </div>
                    <div class="tag">
                        <img src="../static/Images/Contact/telegram.svg" alt="telegram">
                    </div>
                    <div class="tag">
                        <img src="../static/Images/Contact/whatsapp.png" alt="whatsapp icon">
                    </div>
                    <div class="tag">
                        <img src="../static/Images/Contact/facebook.png" alt="facebook">
                    </div>
                    <div class="tag">
                        <img src="../static/Images/Contact/discord.png" alt="discord">
                    </div>
                </div>
            </div>
        </section>
    </section>

</body>
</html>